// Screen Widths
$screen-xxsmall: 320px;
$screen-xsmall: 480px;
$screen-small: 600px;
$screen-medium: 768px; //tablet
$screen-large: 1024px; //desktop
$screen-large-plus: 1224px; //desktop +plus
$screen-xlarge: 1441px; // full width
