// design grid used for page layout
.main-grid {
  display: grid;
  grid-template-columns: [full-start] minmax(2.5rem, 1fr) [content-start] repeat(
    6,
    [col-start] minmax(0, 6rem) [col-end]
  )
    [content-end] minmax(2.5rem, 1fr) [full-end];

  @media only screen and (min-width: $screen-xsmall) {
    grid-template-columns: [full-start] minmax(2.5rem, 1fr) [content-start] repeat(
      12,
      [col-start] minmax(0, 10rem) [col-end]
    )
      [content-end] minmax(2.5rem, 1fr) [full-end];
  }
}
